body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@page{
  size: 100mm 200mm landscape;
  margin: 2cm;
  /* size: landscape; */
}
@media screen{
  #pageFooter{
    display: none;
  }
}
@media  print {
  .dark-light-mode{
  display: none !important;
  }
  #pageFooter {
    position: fixed;
    bottom: 0;
  }
  .card-container {
    page-break-inside: avoid;
  }

  .card-list{
    display: grid !important;
    grid-template-columns: 1fr !important;
  }
}